
body { background-color: #f6f6f6 !important; }
main { position: relative; margin-top: 120px; padding: 50px 0px;}
main h1 {
    font-size: 30px;
    text-transform: capitalize;
    color: rgb(56, 111, 194);
    margin-bottom: 23px;
    font-weight: 600;
}
main h2 {
    font-size: 28px;
    text-transform: capitalize;
    color: rgb(56, 111, 194);
    margin-bottom: 20px;
}
main h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 23px;
}
main p {
    color: #fff;
    font-size: 17px;
}
main .contact-details {
    width: 100%;
    background-color: rgb(56, 111, 194);
    border-color: rgb(56, 111, 194);
    padding: 30px 10px;
    min-height: 440px;
}
main ul {
    padding-inline-start: initial;
}
main ul li {
    list-style: none;
    margin-bottom: 5px;
    color: #fff;
}
main ul li a {
    color: #fff;
    display: inline-block;
    font-size: 17px;
}
main .fa {
    color: #fff;
    margin-right: 10px;
}

main .contact-form {
    background-color: rgb(56, 111, 194);
    padding: 20px 17px 20px 17px;
}
main label {
    color: #fff;
    text-transform: capitalize;
}
main .contact-form h4 {
    color: #fff;
    padding: 15px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

main .contact-form .form-control {
    border: none;
    margin-bottom: 20px;
}
main .contact-form .btn-primary {
    background-color: #052f5d;
    border-color: #052f5d;
    border-radius: 100px;
    margin-top: 12px;
}
main .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #052f5d;
    font-weight: 600;
}
main .nav-pills .nav-link {
    font-weight: 600 !important;
}




@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1360px !important;
    }
}
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1360px !important;
    }
}
@media (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1460px !important;
    }
}

.clients {
    padding: 10px 0px 40px 0px;
}
.clients h5 {
    color: rgb(56, 111, 194);
    font-size: 23px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.clients img {
    width: 150px;
}
.clients .btn-primary {
    margin-top: 50px;
    padding: 9px 22px;
    font-weight: 700;
    background-color: rgb(56, 111, 194);
    border-radius: 100px;
}
.clients .client-testimonials {
    background-color: rgb(56, 111, 194);
    padding: 20px 14px;
}
.clients .client-testimonials p strong {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}
.clients .client-testimonials p strong::after {
    display: block;
    content: '';
    font-size: 22px;
    background-color: rgb(4, 29, 68);
    height: 3px;
    margin-top: 5px;
    width: 20%;
}
.clients .client-testimonials p{
    color: #fff;
    font-size: 15px;
}
.clients .client-testimonials .btn-danger {
    background-color: #052f5d;
    border-color: #052f5d;
    border-radius: 100px;
    padding: 7px 18px;
}
.clients .latest-news {
    background-color: #fff;
    padding: 20px 14px;
}
.clients .latest-news p strong {
    color: rgb(56, 111, 194);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.clients .latest-news .btn-info {
    background-color: #ff801f;
    border-color: #ff801f;
    border-radius: 100px;
    padding: 7px 18px;
}
.clients .latest-news p strong::after {
    display: block;
    content: '';
    font-size: 22px;
    background-color: rgb(26, 129, 17);
    height: 3px;
    margin-top: 5px;
    width: 20%;
}
.clients .latest-news p {
    color: rgb(134, 134, 134);
}

.clients .normal-enquiry p {
    font-size: 26px;
    font-weight: 700;
    color: rgb(110, 110, 110);
    text-transform: capitalize;
}
.clients .normal-enquiry label {
    color: rgb(134, 134, 134);
    text-transform: capitalize;
    font-weight: 600;
}
.clients .normal-enquiry .btn-warning {
    background-color: rgb(110, 110, 110);
    border-color: rgb(110, 110, 110);
    color: #fff;
    padding: 9px 20px;
    border-radius: 100px;
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 375px) {
    main {
        margin-top: 32px;
    }
    main .contact-form {
        top: -3%;
        margin-bottom: 20px;
    }
    .clients {
        margin-top: 12px;
    }
    .clients .col-md-2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .clients .client-testimonials {
        margin-bottom: 20px;
    }
    .clients h5 {
        text-align: center;
    }
    main h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    main h2 {
        font-size: 21px;
        font-weight: 700;
    }
    main iframe {
        margin-top: 20px;
    }
    main .contact-details {
        margin-bottom: 20px;
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    main {
        margin-top: 52px;
    }
    main .contact-form {
        top: -3%;
        margin-bottom: 20px;
    }
    .clients {
        margin-top: 12px;
    }
    .clients .col-md-2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .clients .client-testimonials {
        margin-bottom: 20px;
    }
    .clients h5 {
        text-align: center;
    }
    main h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    main h2 {
        font-size: 21px;
        font-weight: 700;
    }
    main iframe {
        margin-top: 20px;
    }
    main .contact-details {
        margin-bottom: 20px;
    }
}
@media (min-width: 414px) and (max-width: 568px) {
    main {
        margin-top: 60px;
    }
    main .contact-form {
        top: -3%;
        margin-bottom: 20px;
    }
    .clients {
        margin-top: 12px;
    }
    .clients .col-md-2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .clients .client-testimonials {
        margin-bottom: 20px;
    }
    .clients h5 {
        text-align: center;
    }
    main h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    main h2 {
        font-size: 21px;
        font-weight: 700;
    }
    main .contact-details {
        margin-bottom: 20px;
    }
}

@media (max-width: 674px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


