.bg-light {
    background-color: #3c4185!important;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 40%);
    border-radius: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 6px 15px;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffca2a;
}