<section class="container-fluid micro-influencer-banner">
    <div class="micro-influencer-banner-caption">
        <h1>Top Micro Influencer Marketing <br>Agency in India</h1>
    </div>
</section>
<section class="container-fluid micro-influencer-plan">
    <div class="row pt-2">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center pt-2">
            <span class="common-circle-one"></span>
            <span class="common-circle-two"></span>
            <span class="common-circle-one"></span>
        </div>
    </div>
    <div class="left-circle"></div>
    <div class="right-circle"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-12 col-lg-3">
                <div class="micro-influencer-plan-circle">
                    <i class="fa fa-paper-plane"></i>
                </div>
                <div class="micro-influencer-plan-table">
                    <h3 class="text-center">Basic</h3>
                    <div class="row justify-content-center row-cols-2 row-cols-sm-2">
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Influencers</p>
                        </div>
                        <div class="col-md-4">
                            <p>10</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Reach</p>
                        </div>
                        <div class="col-md-4">
                            <p>100K+</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Followers</p>
                        </div>
                        <div class="col-md-4">
                            <p>10K</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Budget</p>
                        </div>
                        <div class="col-md-4">
                            <p>20K</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                            <a href="https://www.grynow.in/contact.php" class="btn btn-primary">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3 offset-md-1 offset-lg-1">
                <div class="micro-influencer-plan-circle dark-pink-bg">
                    <i class="fa fa-plane"></i>
                </div>
                <div class="micro-influencer-plan-table dark-pink-bg">
                    <h3 class="text-center">plus</h3>
                    <div class="row justify-content-center row-cols-2 row-cols-sm-2">
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Influencers</p>
                        </div>
                        <div class="col-md-4">
                            <p>50</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Reach</p>
                        </div>
                        <div class="col-md-4">
                            <p>300K+</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Followers</p>
                        </div>
                        <div class="col-md-4">
                            <p>15K</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1 offset-sm-0">
                            <p>Budget</p>
                        </div>
                        <div class="col-md-4">
                            <p>80K</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                            <a href="https://www.grynow.in/contact.php" class="btn btn-primary">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3 offset-md-1 offset-lg-1">
                <div class="micro-influencer-plan-circle dark-blue-bg">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="micro-influencer-plan-table dark-blue-bg">
                    <h3 class="text-center">pro</h3>
                    <div class="row justify-content-center row-cols-2 row-cols-sm-2">
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Influencers</p>
                        </div>
                        <div class="col-md-4">
                            <p>15</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Reach</p>
                        </div>
                        <div class="col-md-4">
                            <p>500K+</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Followers</p>
                        </div>
                        <div class="col-md-4">
                            <p>100K</p>
                        </div>
                        <div class="col-md-7 offset-md-1 offset-lg-1">
                            <p>Budget</p>
                        </div>
                        <div class="col-md-4">
                            <p>100K</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                            <a href="https://www.grynow.in/contact.php" class="btn btn-primary">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid who-are-micro">
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center pt-2">
                <span class="common-circle-one"></span>
                <span class="common-circle-two"></span>
                <span class="common-circle-one"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <h2>Who are Micro influencers ?</h2>
                <p>A micro-influencer is a person of lucrative personality and have skill based knowledge to influence
                    or inspire or motivate certain quantity of people in their niched content (industry) they create.
                    They are social media micro- influencers who are able to create content with personalised creativity
                    and consistency for a targeted audience, however, their followers are in the range of 10,000 –
                    100,000 i.e higher than followers of nano influencers (1000-10,000) and definitely lesser than the
                    followers of macro influencers (100,000-500,000).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="who-are-micro-grid">
                    <div class="who-are-micro-grid-circle">
                        <p>1</p>
                    </div>
                    <h3>macro influencer</h3>
                    <ul>
                        <li class="green-color">1,00,000 - 5,00,000</li>
                        <li>followers</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="who-are-micro-grid">
                    <div class="who-are-micro-grid-circle dark-pink-bg">
                        <p>2</p>
                    </div>
                    <h3>micro influencer</h3>
                    <ul>
                        <li class="dark-pink-color">10,000 - 1,00,000</li>
                        <li>followers</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="who-are-micro-grid">
                    <div class="who-are-micro-grid-circle dark-blue-bg">
                        <p>3</p>
                    </div>
                    <h3>nano influencer</h3>
                    <ul>
                        <li class="dark-blue-color">1,000 - 10,000</li>
                        <li>followers</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center other-text">
                <p class="b-none">In India, while Mega and Macro influencers have a massive following but a micro-
                    influencer wins the race for brand marketing as their niched content is more relatable and genuine.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid top-micro-influencers-india">
    <div class="first-circle"></div>
    <div class="second-circle"></div>
    <div class="third-circle"></div>
    <div class="fourth-circle"></div>
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center pt-2">
                <span class="common-circle-one"></span>
                <span class="common-circle-two"></span>
                <span class="common-circle-one"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <h2>Top Micro Influencers in India</h2>
                <p>( Types of Influencers )</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="top-micro-influencers-india-circle">
                    <p>mega <br>influencer</p>
                    <span class="b-bottom"></span>
                    <i>1,00,000 TO 1 million<br>follower</i>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="top-micro-influencers-india-circle dark-pink-bg">
                    <p>macro <br>influencer</p>
                    <span class="b-bottom"></span>
                    <i>1,00,000 TO 1 5,00,000<br>follower</i>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="top-micro-influencers-india-circle orange-bg">
                    <p>micro <br>influencer</p>
                    <span class="b-bottom"></span>
                    <i class="ml-3">10,000 TO 1,00,000<br>follower</i>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="top-micro-influencers-india-circle green-bg">
                    <p>nano <br>influencer</p>
                    <span class="b-bottom"></span>
                    <i class="d-inline-block ml-3">10,000 TO 1,00,000<br>follower</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <ul>
                    <li>Mega-influencers - 100,000 to 1 Million followers</li>
                    <li>Macro- Influencers – 100,000 to 500,000 followers</li>
                    <li>Micro- Influencers – 10,000 to 100,000 followers</li>
                    <li>Nano influencers – 1000 to 10,000 followers</li>
                    <li>A Micro influencer is any channel or page having 10,000 – 100,000 followers or subscribers count
                        across any social media platform.</li>
                    <li>They mainly have a following of a targeted audience as per their categorical content.</li>
                    <li>Their followers and subscribers are mainly age and gender-specific, often geographically also.
                    </li>
                    <li>Most Micro-influencer in India have a language based following as India has 22 major languages.
                    </li>
                </ul>
                <div class="top-micro-influencers-india-para">
                    <h3>How to Identify a Micro-Influencer for your brand?</h3>
                    <p>Firstly, to identify a micro- influencer for your particular brand, you have to analyse its
                        target audience (followers) , which type of people follow him / her, what is the engagement
                        rate, sentiment analysis and not just picking up any influencer with subscribers / influencers
                        count.</p>
                    <p>We, Team Grynow, are the marketing and story-telling experts for choosing the right social media
                        micro influencer for your brand. We strive to match the target audience of your brand with
                        target audience (followers / subscribers) of the Youtuber / Instagrammer / Tik Toker. This way,
                        your business gets better awareness, great leads and of course marvellous sales. We always want
                        our customers to be delighted.</p>

                    <h3>Benefits of choosing Micro Influencers over Macro or nano influencers for Brands</h3>
                    <ul class="mt-3 padding-inline-start">
                        <li>The influencer marketing industry is estimated to be $10 billion dollar industry, however
                            consumers are more likely to trust more micro- influencers recommendation.</li>
                        <li>Studies show micro-influencers engagement are more genuine and organic.</li>
                        <li>Influencer marketing costs vary from $100 - $1M dollars per post globally, however as per
                            various statistics micro-influencer pricing is proved to be more cost-effective in terms of
                            ROI.</li>
                        <li>The emotive and trust relation built around the personal experience of a marketed or
                            promoted product by a micro-influencer is more relied than a normal TV ad.</li>
                        <li>Grynow is a trusted micro-influencer marketing platform in India, creating the perfect
                            network of micro-influencers with brands for better awareness and sales.</li>
                        <li>According to studies, micro- influencers with genuine 20,000 or lesser subscribers/followers
                            get better results for brands.</li>
                        <li>Through us, brands get a higher engagement and rise in sales with our top micro influencers
                            in India and abroad as they have selective audience</li>
                        <li>Our marketing strategies have proved, we are now one of leading micro- influencer companies
                            in India that have more than 2000 micro- influencers on board on Youtube, Instagram and Tik
                            Tok.</li>
                    </ul>

                    <h2>Top Micro Influencers in India</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <img src="./images/micro-influencer-marketing-agency-india/micro-influencers.webp"
                                class="img-fluid mb-4" alt="">
                        </div>
                    </div>

                    <p>We, Grynow, have tie-ups with more than 2000 top micro influencers in India.</p>
                    <p>As India has a vibrant range of demographic population, across regional and ethnic borders, our
                        micro-influencers database is increasing exponentially.</p>
                    <p>According to Economic Times, people prefer watching content in their native language and have
                        leverage this potential. We have tie – ups with Tamil, Telugu, Bengali and Marathi
                        language-based content channels as well.</p>
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <img src="../../assets/images/infographic.webp"
                                class="img-fluid mt-3" alt="">
                        </div>
                    </div>

                    <h3>Micro Influencers Statistics:</h3>
                    <h4>Micro influencers on Instagram</h4>
                    <ul class="mt-4 padding-inline-start">
                        <li>As per Instagram, 15.7% of its users who have 1,000 to 10,000 followers, are potential
                            micro-influencers. So Brands have 157million micro- influencers to choose from globally.
                        </li>
                        <li>Overall, Instagram has 1 billion active users monthly and India has the most active users
                            after USA.</li>
                        <li>Building the perfect hub for micro-influencer agency in India which caters both brands and
                            creators.</li>
                    </ul>
                    <h4>Micro influencers on YouTube</h4>
                    <ul class="mt-4 padding-inline-start">
                        <li>According to Economic Times, YouTube has recorded 265 million monthly active users in India.
                        </li>
                        <li>Over 1200 Indian YouTubers have over crossed the 1 million subscribers mark in 2019.</li>
                        <li>Grynow has worked with more than 2000 micro-influencers, making us the best micro-influencer
                            marketplace in India.</li>
                    </ul>
                    <h4>Micro influencers on Tik Tok</h4>
                    <ul class="mt-4 padding-inline-start">
                        <li>Tik Tok as a platform has more than 1.5 billion active users globally.</li>
                        <li>India has the largest base with 43% new users.</li>
                        <li>Tik tok app has been downloaded over 1.5 billion times on mobile devices.</li>
                        <li>Tik tok has been downloaded 467 million times in India, which makes nearly one-third of its
                            total downloads.</li>
                    </ul>
                    <h2>Why Grynow is the leading micro influencer marketing plartform in India</h2>
                    <p>Grynow is a certified influencer marketing agency in India for Bytedance (Tik Tok).</p>
                    <p>We have a database of micro-influencers on tiktok to give you the best micro- influencer
                        campaigns for your brand and product.</p>

                    <h3>Campaigns executed by us through Micro influencers</h3>
                    <h4 class="pb-2">Smytten campaign executed on Instagram</h4>
                    <p>Smytten is India's Largest Premium Discovery Platform with Free Trials &amp; Curated Shopping
                        from 350+ Premium Brands.</p>
                    <p>We collaborated with 58 Indian beauty micro-influencers on Instagram who had followers count
                        ranging from 10k – 70k.</p>
                    <p>Today, Smytten has 105k followers on Instagram with more than 1 million plus app download on
                        mobile phones.</p>

                    <h4 class="pt-3 pb-2">YouTube – Junglee Games</h4>
                    <p>Grynow also collaborated with micro-influencers on Youtube.</p>
                    <p>Junglee Games is a silicon valley based gaming company, with 250 million users, its most
                        downloaded games are Junglee Games Teen Patti and Rummy.</p>
                    <p>Grynow collaborated with Indian Youtubers who have 50k above subscribers to promote Junglee
                        Games.</p>
                    <p>Our network is expanding and thriving in giving brands and businesses their targeted market.
                        Micro-influencers in India offer great affluence to an upcoming business.</p>
                    <p>Grynow tremendously contributes to the successful marketing campaigns of brands by connecting
                        them with the best niched micro-influencer in India.</p>
                    <p><strong>Hire us today!</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="footer-wrapper">

    <!-- fix whatsapp and phone -->
    <section class="container-fluid fix-whatsapp d-md-none d-lg-none d-sm-block">
        <ul class="text-center">
            <li><a href="tel:+919917486405" class="btn btn-primary">call us</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=+919917486405&amp;text=Hi"
                    class="btn btn-info">whatsapp</a></li>
        </ul>
    </section>
    <!-- fix whatsapp and phone -->

    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h4>catch us on social media</h4>
                    <ul class="footer-social">
                        <li><a href="https://facebook.com/grynow" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/grynow.in/?hl=en" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/Grynowagency" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UChCwo_Lrp1pljzDhevETeGw" target="_blank"><i
                                    class="fa fa-youtube"></i></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=+919917486405" rel="nofollow"
                                target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h4>navigate</h4>
                    <ul class="footer-menu">
                        <li><a href="https://www.grynow.in/social-media-influencer-platform-and-market-place.html"
                                tar="">creators</a></li>
                        <li><a href="https://www.grynow.in/brand-marketing-management-agency.html">brands &amp;
                                agencies</a></li>
                        <li><a href="https://www.grynow.in/case-studies.html">our work</a></li>
                        <li><a href="https://www.grynow.in/blogs.html">blogs</a></li>
                        <li><a href="https://www.grynow.in/influencer-management-agency-india.html">about us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h4>contact us</h4>
                    <ul class="footer-contact">
                        <li><i class="fa fa-map-marker"></i> 820, Golf Course Road Sector 42, Gurugram Haryana - 122001,
                            India</li>
                        <li><i class="fa fa-envelope"></i> washib@grynow.in, aman@grynow.in</li>
                        <li><i class="fa fa-envelope"></i> info@grynow.in</li>
                        <li><i class="fa fa-phone"></i> +91 9917486405, +91 9654089096</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <p>© 2020 All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!-- //footer -->



</div>